<%# navigation styled for Bootstrap 3.0 %>
<header class="main-header">
	<a class = "logo" href="/">
		Smart List
	</a>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <div class="collapse navbar-collapse">
		
      
        <%= render 'layouts/navigation_links' %>
      
    
</div>
  </div>
</nav>
</header>