<%# add navigation links to this file %>

<li><%= link_to 'Add',items_add_path, remote: true %> </li>
<li><%= link_to 'Delete All Records', items_delete_all_path %> </li>
<li><% link_to 'Update', items_update_path, remote: true %> </li>
