<div class="main-sidebar">
  <div class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img alt="User Image" class="user-image" src="http://placehold.it/160x160" />
      </div>
      <div class="pull-left info">
        <p>
          User Name
        </p>
        <a href="#">
          <i class="fa fa-circle text-success">
          </i>Online
          </a>
      </div>
    </div>
	<!-- Add a new list button -->
	
	
	<%= form_for @list, url: {:controller=>'lists', action: "create"}, html: {class: "sidebar-form"} do |f| %>
	  <%= f.text_field :name, placeholder: "New list ...", label: false, input_html: { class: 'form-control'} %>
	  <%= f.submit "Create" %>
	<% end %>
	
	
   
	
	<div id="new-list" class="input-group">
	</div>
	
   
      
      
    
    <ul class="sidebar-menu">
      <li class="header">
        Lists
      </li>
      <% @lists.each do |list| %>
          <li>
            <%= link_to simple_format(list.name), items_show_all_records_path(:id=>list.id), remote: true %>
          </li>  
      <% end %>
      
      <li>
        <a href="#">
        <span>Another Link</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <span>Multilevel</span>
          <i class="fa fa-angle-left pull-right">
          </i></a>
        <ul class="treeview-menu">
          <li>
            <a href="#"> Link in level 2</a>
          </li>
          <li>
            <a href="#"> Link in level 2</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
